name: NodeJS with Webpack

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  pipeline:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - name: NPM Install
      run: npm install

    - name: RUN tests typescript
      run: npm run lint:ts

    - name: RUN tests styles
      run: npm run lint:scss

    - name: RUN tests unit
      run: npm run test:unit

    - name: RUN tests UI
      run: |
        npm run build-storybook
        npm run test:ui:ci

    - name: Webpack build
      run: |
        npm run build:prod
